

* {
    font-family: 'Archivo Narrow', sans-serif;
}

.switch-theme {
    position: sticky;
    top: 90vh;
    margin-left: 85vw;
    z-index: 10;
}

.button-purchase {
    background-color: transparent;
    border: 1px #C5B8CB outset;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 9px -2px rgba(0,0,0,0.75);
    z-index: 10;
}

.alert-spotted-start {
    -webkit-animation: flip-in-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: flip-in-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    position: sticky;
    width: 80vw;
    top: 0;
    margin-left: 10vw;
    z-index: 2;
}

.alert-spotted-end {
    -webkit-animation: flip-out-hor-top 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: flip-out-hor-top 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    position: sticky;
    width: 80vw;
    top: 0;
    margin-left: 10vw;
    z-index: 2;
}

.section-catalog-title {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  position: relative;
  top: 20px;
}

@-webkit-keyframes flip-in-hor-top {
    0% {
      -webkit-transform: rotateX(-80deg);
              transform: rotateX(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-hor-top {
    0% {
      -webkit-transform: rotateX(-80deg);
              transform: rotateX(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes flip-out-hor-top {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotateX(70deg);
              transform: rotateX(70deg);
      opacity: 0;
    }
  }
  @keyframes flip-out-hor-top {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotateX(70deg);
              transform: rotateX(70deg);
      opacity: 0;
    }
  }
  